function Main.main 4
push constant 0
not
pop local 3
push constant 6
call Gun.new 1
pop local 0
label WHILE_EXP0
push local 3
not
if-goto WHILE_END0
push local 0
call Gun.move 1
pop temp 0
push local 0
call Gun.fire 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
